/* Color palette */

:root[theme='dark'] {
	--primary-color: #1e212b;
	--primary-hover-color: #282d3d;
	--primary-active-color: #8ea9ff;
	--primary-light-color: #3a4258;
	--primary-light-hover-color: #4b546f;
	--primary-light-active-color: #586280;
	--primary-dark-color: #12161f;
	--primary-dark-hover-color: #282d3d;
	--primary-dark-active-color: #333a4d;
	--text-color: #f5f5f5;
	--text-hover-color: #8ea9ff;
	--text-active-color: #738ad8;
	--background-color: #0b0d13;
	--primary-font: 'Roboto Mono', monospace;
	--secondary-font: 'Arial', sans-serif;
}

:root[theme='light'] {
	--primary-color: #ffffff;
	--primary-hover-color: #f7f8fc;
	--primary-active-color: #7d98f5;
	--primary-light-color: #e8eeff;
	--primary-light-hover-color: #d1ddff;
	--primary-light-active-color: #bbccff;
	--primary-dark-color: #f7f8fc;
	--primary-dark-hover-color: #eef2fc;
	--primary-dark-active-color: #d6def3;
	--text-color: #050505;
	--text-hover-color: #7d98f5;
	--text-active-color: #647bc8;
	--background-color: #eceef5;
	--primary-font: 'Roboto Mono', monospace;
	--secondary-font: 'Arial', sans-serif;
}

/* General */

body {
    width: 100svw;
    height: 100svh;
	font-family: var(--primary-font);
	color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
	transition: color 0.15s ease-out, background 0.15s ease-out;
	overflow: hidden;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

h1, h2, h3 {
	margin: 0;
	text-align: center;
}

button {
	padding: 3px 5px;
	margin: 4px;
	font-family: inherit;
	color: inherit;
	background-color: var(--background-color);
	border: none;
	border-radius: 80px;
	transition: color 0.15s ease-out, background 0.15s ease-out;
	cursor: pointer;
}

/* Scroll Bar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: var(--primary-dark-color);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-hover-color);
}

/* Top Elements */

.top-left {
	position: fixed;
	top: 3%;
	left: 2.5%;
	z-index: 30;
}

.top-right {
	position: fixed;
	top: 3%;
	right: 2.5%;
	z-index: 30;
}

/* Options Menu */

options-menu.top-left>button {
	position: relative;
	float: left;
}

options-menu.top-right>button {
	position: relative;
	float: right;
}

options-menu>div {
	position: relative;
	padding: 0 10px;
	transition: transform 1.25s, color 0.15s ease-out, background 0.15s ease-out;
}

options-menu.top-left>div {
	transform: translateX(-200%);
	float: right;
}

options-menu.top-right>div {
	transform: translateX(200%);
	float: left;
}

options-menu>div.open {
	transform: translateX(0);
}

options-menu>div>ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	font-size: larger;
	--menu-item-icon-width: 30px;
}

options-menu>div>ul>li {
	margin: 10px 0;
	cursor: pointer;
}

options-menu>div>ul>li:before {
	width: var(--menu-item-icon-width);
	display: inline-block;
}

options-menu>div>ul>li#menu-import-json:before {
    font-family: 'bootstrap-icons';
    content: '\F358';
}

options-menu>div>ul>li#menu-export-json:before {
    font-family: 'bootstrap-icons';
    content: '\F356';
}

options-menu>div>ul>li#menu-togge-face-indicator:before {
    font-family: 'bootstrap-icons';
    content: '\F797';
}

options-menu>div>ul>li#menu-toggle-theme:before {
    font-family: 'bootstrap-icons';
    content: '\F288';
}

/* Start View */

start-view {
    position: absolute;
    top: 25%;
    right: 30%;
    display: block;
    width: 40%;
	height: 60%;
}

start-view>h1 {
	position: relative;
	font-size: 2em;
	margin-bottom: 1em;
}

start-view>div {
	position: relative;
	width: 100%;
    height: 100%;
    overflow-y: auto;
}

start-view>div>button {
	position: relative;
	height: 13%;
	width: 50%;
	padding: 0;
	margin: 0 25%;
	margin-bottom: 2%;
	background-color: var(--primary-dark-color);
}

/* View Navigation */

.view-nav-btn {
	position: absolute;
	top: 45%;
	z-index: 10;
	width: 50px;
	height: 10%;
	background-color: var(--primary-dark-color);
	border-radius: 20px;
	transition: opacity 0.6s ease-out 1s, color 0.15s ease-out, background 0.15s ease-out;
}

.view-nav-btn:hover {
	background-color: var(--primary-dark-hover-color);
}

.view-nav-btn:active, .view-nav-btn.active {
	background-color: var(--primary-dark-active-color);
}

.view-nav-btn#prev-view-btn {
	left: 2%;
}

.view-nav-btn#next-view-btn {
	right: 2%;
}

/* Media Queries */

@media only screen and (max-width: 700px), (min-aspect-ratio: 100/40) {

	screen-warning {
		position: fixed;
		z-index: 9999;
		display: flex;
		width: 100dvw;
		height: 100dvh;
		font-weight: bold;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(10px);
	}

	screen-warning:before {
		content: "Screen too small";
	}

}
